*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Belleza", sans-serif;
    color: black;
}

@font-face
{
    font-family: "a auto signature";
    src: url("/PSD/Fonts/aAutoSignature.ttf");
}

.search-box, .cart-box
{
    height: 40px;
    width: 40px;
    position: fixed;
}

.search-box
{
    background: #f5f5f5;
    top: 200px;
    right: 0px;
}

.search-box i
{
    color: rgb(238, 40, 82);

}

.cart-box
{
    background: rgb(238, 40, 82);
    top: 150px;
    right: 0px;
}

.cart-box i
{
    color: white;
}

.container 
{
    margin: 0px 100px;
}

.header, .header-cta, .menu-button, .effect11,.effect12, .hero, .header-navigation ul, .home-menu,.pages-menu,.portfolio-menu,.blog-menu,.shop-menu, .client-row, .portfolio-title, .portfolio-row, .product-row, .product-image, .product-info, .view-icons, .usp-row, .video-section, .video-icon a, .circle, .contact-section, .contact-col, .discover, .blog-row, .footer, .footer-col .video-icon, .search-box, .cart-box
{
    display: grid;
}

.header, .header-cta, .header-navigation, .circle, .search-box, .cart-box
{   
    align-content: center;
}

.circle, .search-box, .cart-box
{
    justify-content: center;
}

.header
{
    height: 120px;
    justify-content: space-between;
    grid-template-columns: 1fr auto 1fr;
}

.header-logo
{
    font-size: 30px;
}

.footer-logo
{
    font-size: 34px;
}

.header a, .socialicons a, .collection-name, .addtocart, .product-info a, .video-icon a, .footer-logo a, .footer-col a
{
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.main-menu
{
    grid-template-columns: repeat(5, auto);
    gap: 50px;
    align-items: center;
    justify-items: center;
}

.menu-item, .header-cta a, .header-navigation a, .socialicons a, .addtocart, .product-price,.footer-col a, .footer-subscribe p
{
    font-family: "Roboto", sans-serif;
}

.main-menu a, .header-cta a, .socialicons a, .addtocart, .video-icon a
{
    font-size: 13px;
    letter-spacing: 3.9px;
    font-weight: 400;
}

.header-navigation li, .socialicons li, .footer-col ul li
{
    list-style-type: none;
    position: relative;
}

.home-menu,.pages-menu,.portfolio-menu,.blog-menu,.shop-menu, .addtocart
{
    position: relative;
    align-items: center;
}

.home-dropdown,.pages-dropdown,.portfolio-dropdown,.blog-dropdown,.shop-dropdown
{
    position: absolute;
    left: -30px;
    top: 0px;
    width: 250px;
    background: rgb(26, 26, 26);
    padding: 30px;
    margin-top: 50px;
    z-index: 1;
    gap: 8px;
    padding: 30px;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-out;
}

.home-menu:hover .home-dropdown, .shop-menu:hover .shop-dropdown
{
    visibility: visible;
    height: 358px;
    padding: 30px;
    opacity: 1;
    overflow: visible;
}

.blog-menu:hover .blog-dropdown
{
    visibility: visible;
    height: 170px;
    padding: 30px;
    opacity: 1;
    overflow: visible;
}

.portfolio-menu:hover .portfolio-dropdown
{
    visibility: visible;
    height: 140px;
    padding: 30px;
    opacity: 1;
    overflow: visible;
}

.pages-menu:hover .pages-dropdown
{
    visibility: visible;
    height: 258px;
    padding: 30px;
    opacity: 1;
    overflow: visible;
}

.main-menu ul a
{
    color: rgb(194, 194, 194);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.68px;
    transition: 0.25s;
    letter-spacing: 0px;
}


.home-dropdown li:first-child a, .home-dropdown li a:hover, .video-icon a, .footer-logo a
{
    color: white;
}

.strike
{
    height: 0.5px;
    width: 0%;
    background: black;
    position: absolute;
    right: -10px;
    transition: 0.25s;
}

.addtocart .strike
{
    height: 0.5px;
    width: 70%;
    background: white;
    position: absolute;
    right: -10px;
    transition: 0.25s;
}

.home-menu:hover .strike, .pages-menu:hover .strike, .portfolio-menu:hover .strike, .blog-menu:hover .strike, .shop-menu:hover .strike
{
    width: 70%;
}

.addtocart:hover .strike, .video-section:hover .strike
{
    width: 0%;
}

.header-cta
{
    grid-template-columns: 100px 70px 70px 100px;
    column-gap: 20px;   
    color: black;
    gap: 0px;
    justify-items: end;
    justify-content: end;
}

.menu-button
{
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.menu-line
{
    height: 1.20px;
    width: 60px;
    background: black;
    position: relative;
    overflow: hidden;

}

.effect11
{
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 0px;
    left: -120px;
    transition: 1s;
}

.effect12
{
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 0px;
    left: -200px;
    transition: 1s;
}

.effect1
{
    height: 3px;
    width: 60px;
    background: black;
}

.effect2
{
    height: 3px;
    width: 60px;
    background: white;
}

.menu-button:hover .effect11
{
    top: 0px;
    left: 100%;
}

.menu-button:hover .effect12
{
    top: 00px;
    left: 100%;
}

.hero
{
    position: relative;
    height: 650px;
    justify-items: center;
}

.hero p
{
    font-size: 250px;
    color: #E5E5E5;
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
    padding-top: 50px;
}

.hero-img
{
    position: absolute;
    top: 90px;
    width: 30%;
    height: 500px;
}

.hero-img img
{
    object-fit: cover;
}

.leftarrow
{
    font-size: 96px;
    opacity: 0.4;
    position: absolute;
    top: 150px;
    left: 0;
    cursor: pointer;
}

.rightarrow
{
    font-size: 96px;
    opacity: 0.4;
    position: absolute;
    top: 150px;
    right: 0;
    cursor: pointer;
}

.socialicons
{
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 150px;
    top: 400px;
}

.collection1, .products
{
    margin-top: 100px;
}

.collection1 .title, .products .title, .blog .title
{
    font-size: 56px;
    font-weight: 500;
    line-height: 56px;
    text-align: center;
    justify-self: center;
    margin-bottom: -14px;
}

.collection1 p,.products p, .blog p
{
    font-family: "a auto signature", sans-serif;
    color: rgb(215, 203, 183);
    font-size: 90px;
    font-weight: 300;
    padding-bottom: 50px;
    text-align: center;
}

.collection1 img
{
    width: 100%;
    margin-bottom: 30px;
}

.collection-name
{
    color: black;
    font-size: 25px;
}

.collection-name-div
{
    text-align: center;
}

.collection1 p
{
    justify-self: center;
}

.collection-info
{
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: rgb(89, 89, 89);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.collection-name:hover, .collection-info:hover
{
    color: rgb(181, 145, 117);
}

.clients
{
    padding: 100px 0px 100px 0px;
}

.client-row
{
     grid-template-columns: repeat(8,12.5%);
     justify-items: center;
}

.client-row span img
{
    width: 154px;
}

.portfolio p:first-child
{
    font-family: "a auto signature", sans-serif;
    color: rgb(215, 203, 183);
    font-size: 50px;
    font-weight: 300;
}

.portfolio .title
{
    font-size: 42px;
    font-weight: 500;
    line-height: 46px;
    text-transform: uppercase;
}

.portfolio-leftarrow
{
    font-size: 56px;
    opacity: 0.4;
    top: 150px;
    left: 0;
    cursor: pointer;
}

.portfolio-rightarrow
{
    font-size: 56px;
    opacity: 0.4;
    top: 150px;
    right: 0;
    cursor: pointer;
}

.portfolio-title
{
    grid-template-columns: 3fr 1fr;
}

.left-right-arrow
{
    text-align: right;
    align-self: flex-end;
}

.portfolio-leftarrow
{
    margin-right: 20px;
}

.portfolio-row
{
    grid-template-columns: 35% 35% 35%;
    gap: 30px;
}

.portfolio-card
{
    height: 600px;
    margin-top: 50px;
    position: relative;
    transition: 0.5s;
}

.portfolio1
{
    background: url(/Grid/Images/e6a259e677860331e4474bd616f1fccf.webp);
    height: 600px;
    margin-top: 50px;
    position: relative;
    transition: 0.5s;
}

.portfolio1:hover
{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grid/Images/e6a259e677860331e4474bd616f1fccf.webp);
}

.portfolio-card p,.portfolio-card h4
{
    color: white;
   
}

.portfolio-card h4
{
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 10px;
    position: absolute;
    left: 50px;
    bottom: 45px;
    opacity: 0;
    transition: 0.75s;
}

.portfolio-card p
{
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: 50px;
    bottom: 20px;
    opacity: 0;
    transition: 0.75s;
}

.portfolio-card:hover h4
{
    position: absolute;
    left: 50px;
    bottom: 85px;
    opacity: 1;
}

.portfolio-card:hover p
{
    position: absolute;
    left: 50px;
    bottom: 60px;
    opacity: 1;
}

.portfolio2
{
    background: url(/Grid/Images/L_Shape_Suede_Fabric_6_Seater_Sofa_Set_Luxury_Furniture_with_Solid_Wood_Frame_-_-3759327.webp);
}

.portfolio2:hover
{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grid/Images/L_Shape_Suede_Fabric_6_Seater_Sofa_Set_Luxury_Furniture_with_Solid_Wood_Frame_-_-3759327.webp);
}

.portfolio3
{
    background: url(/Grid/Images/64ddd677842cdf3be3258ff7_1692259959608.jpg);
}

.portfolio3:hover
{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grid/Images/64ddd677842cdf3be3258ff7_1692259959608.jpg);
}

.product-row
{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.product-card
{
    height: 500px;
    padding: 0px 50px;
    margin: 100px 0px 0px 0px;
}
.product2
{
    margin: 0px 0px 100px 0px;
}

.product-image
{
    position: relative;
    height: 90%;
}

.product-image a
{
    color: white;
}

.product1 .product-image
{
    background: url(/Grid/Images/Product-feat-img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.product1 .product-image:hover
{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grid/Images/Product-feat-img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.product2 .product-image
{
    background: url(/Grid/Images/Product-list-img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.product2 .product-image:hover
{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grid/Images/Product-list-img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.product3 .product-image
{
    background: url(/Grid/Images/Product-list-img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.product3 .product-image:hover
{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grid/Images/Product-list-img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.addtocart
{
    display: inline-flex;
    position: absolute;
    justify-self: center;
    top: 50%;
    opacity: 0;
    transition: 0.5s;
}

.product-image:hover .addtocart
{
    display: inline-flex;
    position: absolute;
    top: 45%;
    opacity: 1;
}

.product-info
{
    grid-template-columns: 2fr 1fr;
    margin-top: 20px;
}

.product-name
{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

.product-price
{
    text-align: right;
    font-weight: 300;
    color: rgb(89, 89, 89);
}

.fa-regular
{
    color: white;
    font-size: 18px;
    bottom: 20px;
}

.view-icons
{
    grid-template-columns:repeat(2,40px);
    justify-self: center;
    text-align: center;
    position: absolute;
    bottom: -40px;
    opacity: 0;
    transition: 0.6s;
}

.fa-eye
{
    left: 20px;
}

.fa-heart
{
    left: 60px;
}

.product-image:hover .view-icons
{
    bottom: 40px;
    opacity: 1;
}

.usp
{
    padding: 100px 50px 100px 50px;
}

.usp-row
{
    grid-template-columns: repeat(4,1fr);
}

.usp-card h4
{
    padding-left: 20px;
    font-size: 60px;
}

.usp-card p
{
    font-family: "a auto signature";
    font-size: 46px;
    color: rgb(215, 203, 183);
    text-transform: capitalize;
    margin-top: -27px;
}

.contact-section
{
    grid-template-columns: repeat(2, 1fr);
}

.contact-form .usp-card h4, .discover .usp-card h4
{
    padding-left: 0px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 46px;
    margin-bottom: 50px;
}

 .discover .usp-card h4,  .discover .usp-card p
 {
    color: white;
 }

.contact-form .usp-card p, .discover .usp-card p
{
    margin-top: 0px;
    text-transform: none;
}

.video-section
{
    background: url(/Grid/Images/Video-background-img.jpg);
    background-size: cover;
    padding: 250px 0px;
    position: relative;
    justify-content: center;
    margin-right: 100px;
}

.video-icon a
{
    position: relative;
}

.video-icon a .strike
{
    height: 0.5px;
    width: 100%;
    background: white;
    position: absolute;
    left: 20px;
    transition: 0.50s;
    align-self: center;
}

.contact-section
{
    padding: 175px 0px;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
}

.circle
{
    height: 200px;
    width: 200px;
    border: 1px solid white;
    border-radius: 50%;
}

.contact-col
{
    padding-left: 100px;
}

input, textarea
{
    width: 100%;
    border-width: 0px 0px 1px 0px;
    padding: 10px 0px 10px 0px;
    font-family: "Roboto", sans-serif;
    outline: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 27px;
}

textarea
{
    height: 108px;
}

.contact-form button, .usp-card button, .footer button
{
    background: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: rgb(181, 145, 117);
    border: 2px solid rgb(181, 145, 117);
}

.usp-card button
{
    color: white;
    border: 2px solid white;
}

.discover-section
{
    margin-left: 100px;
    background: url(/Grid/Images/Main-bottom-img.jpg);
    background-size: cover;

}

.discover
{
    height: 100vh;
    align-content: center;
    justify-content: right;
    text-align: right;
    padding-right: 150px;
}

.discover-col
{
    width: 400px;
}

.blog
{
    padding: 100px 0px 100px 0px;
}

.blog-card img
{
    width: 100%;
}

.blog-row
{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.blog-details
{
    grid-template-columns: auto auto auto auto auto;
    margin:20px 0px;
}

.blog-details a, .dash
{
    display: inline;
    font-size: 16px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: rgb(89, 89, 89);
    transition: 0.5s;
}

.dash::after
{
    content: "-";
}

.blog-card h3
{
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
    transition: 0.25s;
}

.blog-details a:hover, .blog-card h3:hover
{
    color: rgb(181, 145, 117);
}

.blog-card .video-icon
{
    width: 120px;
}

.blog-card .video-icon a
{
    color: black;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}

.blog-card .video-icon a .strike
{
    background: black; 
}

.blog-card a .strike
{
    height: 1px;
    width: 70%;
    background: white;
    position: absolute;
    transition: 0.50s;
    align-self: center;
    justify-self: right;
}

.blog-card .video-icon:hover .strike
{
    width: 00%;
}

.footer-social-name
{
    font-family: "Roboto", sans-serif;
    padding-right: 20px;
}

.footer .video-icon .strike
{
    width: 00%;
    justify-self: right;
    right: 10px;
}

.footer .video-icon:hover .strike
{
    width: 60%;
}

.footer-section
{
    background:#1A1A1A;
}

.footer
{
    grid-template-columns: 39% 17% 25% 19%;
    padding: 100px 0px;
}

.footer-col .video-icon
{
   display: inline-block;
}

.footer-company
{
    padding-right: 100px;
}

.footer-company p
{
    margin: 10px 0px;
    font-size: 18px;
    color: rgb(153, 153, 153);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
}

.footer-col h5
{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-designer a, .footer-subscribe p
{
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(153, 153, 153);
    font-weight: 300;
    transition: 0.5s;
}

.footer-subscribe p
{
    font-size: 13px;
    font-style: italic;
}

.footer-subscribe input
{
    background: none;
    margin-top: 20px;
}

.footer-col a:hover
{
   
    color: white;
    
}

.footer-col li
{
    margin-top: 20px;
}

.footer button
{
    padding: 10px 50px;
    margin-top: 20px;
}






 